altgraph==0.10.2
arrow==0.15.4
asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
backports.functools-lru-cache==1.5
bdist-mpkg==0.5.0
BeautifulSoup==3.2.1
beautifulsoup4==4.7.1
blinker==1.4
bonjour-py==0.3
boto==2.49.0
bs4==0.0.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
cmake==3.14.4
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.0
dlib==19.17.99
enum34==1.1.6
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.1.1
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.4.0
Flask-Uploads==0.2.1
functools32==3.2.3.post2
future==0.17.1
glassdoor==0.0.8
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipaddress==1.0.22
items==0.6.5
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
lxml==4.4.1
macholib==1.5.1
MarkupSafe==1.1.1
matplotlib==2.2.4
modulegraph==0.10.4
networkx==2.2
nose==1.3.7
nulltype==2.3.1
numpy==1.16.2
opencv-python==4.1.1.26
parsel==1.5.2
passlib==1.7.1
Pillow==6.1.0
psycopg2-binary==2.8.4
py2app==0.7.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==19.0.0
pyparsing==2.0.1
python-cloudfiles==1.7.11
python-dateutil==2.8.0
pytz==2013.7
PyWavelets==1.0.3
queuelib==1.5.0
redis==3.2.1
requests==2.22.0
scikit-image==0.14.5
scipy==1.2.2
Scrapy==1.8.2
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
snappass==1.4.2
soupsieve==1.9.1
SpeechRecognition==3.8.1
SQLAlchemy==1.3.8
SQLAlchemy-Utils==0.35.0
stripe==2.40.0
subprocess32==3.5.4
tornado==6.0.2
Twisted==19.7.0
twitter==1.18.0
urllib3==1.24.1
w3lib==1.21.0
Werkzeug==0.15.5
xattr==0.6.4
zope.interface==4.6.0
